/***********************reset***********************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td ,span, object, iframe{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
body{font: 12px/1.6 "Microsoft YaHei";}
a{text-decoration: none;@include transition(color 0.4s);}
a:active { outline: 0; }
img { border: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #b9b9b9; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #b9b9b9; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #b9b9b9; }
input{outline: 0;border:0;font-family: "Microsoft YaHei";}
textarea { overflow: auto; resize: none; }

.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.hide{display:none!important;}
.fl{float: left;}
.fr{float: right;}


