<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<title>--《英魂之刃》官方网站，唯一原创微端竞技精品大作！10秒加载,30秒开局！</title>
<meta name="Description" content="《英魂之刃》是一款类DOTA的多人竞技网游，拥有无需下载，即点即玩，10秒开局，qq登录，精美画面，爽快体验等游戏特色和优势。进入游戏后，即可体验充满魔幻风格的游戏世界，领略原创英雄角色和强力技能，在还原三路5V5经典模式的同时，更创新单路决战之谷模式，出门即可10人团战，最快享受激情团战体验！并且还有一端双玩法全新RPG、PVE模式，与玩家一起打造巅峰战场。游戏入驻腾讯QQ游戏大厅后，更是人气飙升，是中国风第一DOTA网游">
<meta name="Keywords" content="英魂之刃，英魂之刃官方网站，英魂之刃官网，DOTA页游，英魂，英魂之刃下载，微端下载，英魂之刃礼包，新手礼包，新英雄，活跃度，微信，龙骑士，绑定，英魂视频，比赛，周免，英魂之刃攻略，MOBA，即下即玩，无需注册，10秒加载,30秒开局，dota网页版，英雄出装，5v5,10v10，RPG,PVE，兑换码，中国风，魔幻，黄金十二宫，兑换码，天赋，LOL网页版，竞技游戏">
<script type="text/javascript" src="http://news.99.com/script/g_topmenu.js" charset="GBK"></script>
<script src="http://news.cos.99.com/script/public.js" ></script>
<link href="css/style.css" rel="stylesheet">
</head>
<body>
<h1 class="logo" id="logo_bg"><script>setLogo();</script></h1>

<div class="footer">
	<script>publicBottom(site.cos1,900, "_blank");</script>
</div>
<script type="text/javascript" src="http://news.cos.99.com/script/jquery.js"></script>
<!--统计代码-->
<div style="display:none">
	<script type="text/javascript">pings();</script>
</div>
</body>
</html>