<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>积分专题-魔域中文官方网站-终身免费-my.99.com</title>
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta name="keywords" content="魔域,网络游戏,魔域游戏,魔域官网,网络游戏下载,魔域官方网站,中文魔域,免费游戏,众神归来,异能者,免费网络游戏,终身免费,幻兽,群殴,PK,幻化,顿悟,飞天斩,飞天连斩">
<meta name="description" content="魔域是以幻兽、PK、群殴为核心的终身免费网络游戏，开创了网络游戏的全新篇章！在游戏中你不但可以享受到一人带多宠的全新游戏乐趣，享受群殴的极限快感，体验非凡的视觉感受！还可以通过不断的幻兽幻化、武器锻造、商业贸易成就你的终极霸者事业！">
<link rel="shortcut icon" HREF="http://img0.91huo.cn/ca/index/myico3.ico">
<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<script type="text/javascript" src="http://news.99.com/script/my_topmenu.js" charset="GBK" ></script>
<body><script type="text/javascript">topMenu();</script>
<div class="fullbg">
  <div class="wrapper clearfix">
  	<div class="bg1">
    	<h1 class="logo"><a href="http://my.99.com/index/" target="_blank" title="魔域中文官方网站"><img src="http://img1.91huo.cn/my/images/logo/logo.png" width="150"></a></h1>
        <div class="zc"><iframe src="https://aq.99.com/WebStaticPage/regformy5.html" frameborder="0" width="284" scrolling="no" height="510" allowtransparency="" id="content" name="content"></iframe></div>
        <div class="col1 col1_1">
        	<h2 class="h2">登录帐号  积分换取豪礼</h2>
            <div class="col1_img"><img src="pic/jp1.png" /></div>
            <a href="#" class="btnb">点击换取</a>
        </div>
        <div class="col1 col1_2">
        	<h2 class="h2">注册即领新手礼包</h2>
            <div class="col1_img">
            	<div id="scoll1" class="scoll1">
                    <ul class="clearfix">
                        <li><img src="pic/a1.png" alt="" width="82" height="81"><br>幻化幸运草</li>
                        <li><img src="pic/a2.png" alt="" width="82" height="81"><br>加勒比风暴<br />（男）</li>
                        <li><img src="pic/a3.png" alt="" width="82" height="81"><br>三倍<br />经验药水</li>
                        <li><img src="pic/a4.png" alt="" width="82" height="81"><br>神祝幻尘</li>
                        <li><img src="pic/a5.png" alt="" width="82" height="81"><br>圣兽魔晶礼包</li>
                        <li><img src="pic/a6.png" alt="" width="82" height="81"><br>双倍<br />经验药水</li>
                        <li><img src="pic/a7.png" alt="" width="82" height="81"><br>速效治疗包</li>
                        <li><img src="pic/a8.png" alt="" width="82" height="81"><br>随机卷轴</li>
                        <li><img src="pic/a9.png" alt="" width="82" height="81"><br>原生宠礼包</li>
                    </ul>
                </div>
                <a id="change_left" class="change_left" href="javascript:;"></a>
                <a id="change_right" class="change_right" href="javascript:;"></a>
            </div>
            <a href="#" class="btnb">点击领取新手礼包</a>
        </div>
        <div class="col1 col1_3">
        	<h2 class="h2">登录帐号  积分抽取豪礼</h2>
            <div class="col1_img"><img src="pic/jp2.png" /></div>
            <a href="#" class="btnb">点击抽取</a>
        </div>
        <div class="col1 col1_4">
        	<h2 class="h2">回归玩家享受尊宠</h2>
            <div class="col1_img">
            	<div id="scoll2" class="scoll1">
                    <ul class="clearfix">
                        <li><img src="pic/b1.png" alt="" width="82" height="81"><br>8星O礼包</li>
                        <li><img src="pic/b2.png" alt="" width="82" height="81"><br>10点新魔石</li>
                        <li><img src="pic/b3.png" alt="" width="82" height="81"><br>12型XO礼包</li>
                        <li><img src="pic/b4.png" alt="" width="82" height="81"><br>100点新魔石</li>
                        <li><img src="pic/b5.png" alt="" width="82" height="81"><br>精致<br />月光贵族包</li>
                        <li><img src="pic/b6.png" alt="" width="82" height="81"><br>灵魂晶石</li>
                        <li><img src="pic/b7.png" alt="" width="82" height="81"><br>特制经验球<br />礼包</li>
                        <li><img src="pic/b8.png" alt="" width="82" height="81"><br>星羽恋曲</li>
                        <li><img src="pic/b9.png" alt="" width="82" height="81"><br>银月颂歌</li>
                        <li><img src="pic/b10.png" alt="" width="82" height="81"><br>月之祝福</li>
                        <li><img src="pic/b11.png" alt="" width="82" height="81"><br>战斗力+3</li>
                    </ul>
                </div>
                <a id="change2_left" class="change_left" href="javascript:;"></a>
                <a id="change2_right" class="change_right" href="javascript:;"></a>
            </div>
            <a href="#" class="btnb">点击领取回归玩家礼包</a>
        </div>
    </div>
    <div class="bg2">
    	<div class="meiti">
            	<div id="scoll3" class="scoll3">
                    <ul class="clearfix">
                        <li><img src="pic/mt1.png" alt=""></li>
                        <li><img src="pic/mt2.png" alt=""></li>
                        <li><img src="pic/mt1.png" alt=""></li>
                        <li><img src="pic/mt2.png" alt=""></li>
                    </ul>
                </div>
                <a id="change3_left" class="change3_left" href="javascript:;"></a>
                <a id="change3_right" class="change3_right" href="javascript:;"></a>
            </div>
    </div>
    <div class="bg3">
    	<div class="time1">活动时间：３月１０日~４月３日　　距开奖还有：Ｘ天Ｘ时Ｘ分Ｘ秒</div>
        <div class="jf1">尊敬的XXXXXXX,您尚余2000可使用积分<a href="#" class="jf_btn">查看获奖名单</a></div>
    	<ul class="col3 clearfix">
        	<li>
            	<div class="col3_l"><img src="pic/c10.png" /></div>
                <div class="col3_r"><h3>HeHa 手环-1</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/c11.png" /></div>
                <div class="col3_r"><h3>HeHa 手环-2</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/c12.png" /></div>
                <div class="col3_r"><h3>HeHa 手环-3</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/c1.png" /></div>
                <div class="col3_r"><h3>iPod shuffle 2G</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/c2.png" /></div>
                <div class="col3_r"><h3>iPod nano</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/c3.png" /></div>
                <div class="col3_r"><h3>UP24 智能手环</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/c4.png" /></div>
                <div class="col3_r"><h3>iPad mini2</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/c5.png" /></div>
                <div class="col3_r"><h3>iPad air</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/c6.png" /></div>
                <div class="col3_r"><h3>三星 Note3</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/c7.png" /></div>
                <div class="col3_r"><h3>iPhone6 Plus</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/c8.png" /></div>
                <div class="col3_r"><h3>黄金转运珠手链</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/c9.png" /></div>
                <div class="col3_r"><h3>小米4</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
        </ul>
    </div>
    <div class="bg4">
    	<div class="time2">活动时间：３月１０日~４月３日　　距开奖还有：Ｘ天Ｘ时Ｘ分Ｘ秒</div>
        <div class="jf2">尊敬的XXXXXXX,您尚余2000可使用积分</div>
    	<ul class="col4 clearfix">
        	<li>
            	<div class="col3_l"><img src="pic/d1.png" /></div>
                <div class="col3_r"><h3>2元魔石卡</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/d2.png" /></div>
                <div class="col3_r"><h3>5元魔石卡</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/d3.png" /></div>
                <div class="col3_r"><h3>10元魔石卡</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/d4.png" /></div>
                <div class="col3_r"><h3>50元魔石卡</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/d5.png" /></div>
                <div class="col3_r"><h3>卡西欧 3H3E男表</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/d6.png" /></div>
                <div class="col3_r"><h3>罗技无线鼠标 MX</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/d7.png" /></div>
                <div class="col3_r"><h3>AKG K420 耳麦</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/d8.png" /></div>
                <div class="col3_r"><h3>魔域周年庆充电宝</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
            <li>
            	<div class="col3_l"><img src="pic/d9.png" /></div>
                <div class="col3_r"><h3>iPod Touch</h3><p class="p1"><strong>200</strong>积分</p><p class="p2">奖励限量：3<br />剩余数量：1</p><a href="#" class="cq_btn">立即抽取</a></div>
            </li>
        </ul>
        <div class="more">更多积分兑换物品，紧急筹备中……</div>
    </div>
    
  	 
    	
    	
    <div class="footer"><script type="text/javascript">publicBottom(site.my, 900, "_blank",1)</script></div>
    </div>
</div>
<a href="#" class="rule"></a>
<script type="text/javascript" src="http://my.99.com/script/jquery.js"></script>
<script type="text/javascript" src="js/glslide.js"></script>
<script type="text/javascript">
$("#scoll1").glSlide({
    isWinLoad:true,
	productScrollWitch:"ul",
	list:"ul > li",
	seeColumn:3,
	step:3,
	speed:"normal",
	orientation:"left",
	isAutoPlay:3000,
	isBtn:{
		left:"#change_left",
		right:"#change_right",
		isChangeState:true
	}
});

$("#scoll2").glSlide({
    isWinLoad:true,
	productScrollWitch:"ul",
	list:"ul > li",
	seeColumn:3,
	step:3,
	speed:"normal",
	orientation:"left",
	isAutoPlay:3000,
	isBtn:{
		left:"#change2_left",
		right:"#change2_right",
		isChangeState:true
	}
});

$("#scoll3").glSlide({
    isWinLoad:true,
	productScrollWitch:"ul",
	list:"ul > li",
	seeColumn:2,
	step:2,
	speed:"normal",
	orientation:"left",
	isAutoPlay:3000,
	isBtn:{
		left:"#change3_left",
		right:"#change3_right",
		isChangeState:true
	}
});
</script>
<div style="display:none">
    <script src='http://w.cnzz.com/c.php?id=30072502' language='JavaScript'></script>
</div>
</body>
</html>